<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="bakeries_networkEntities" connectionString="metadata=res://*/BakeryModel.csdl|res://*/BakeryModel.ssdl|res://*/BakeryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-5U2HQLKL\SQLEXPRESS;initial catalog=bakeries_network;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <!-- <connectionStrings>
        <add name="trynumberthree.Properties.Settings.bakeries_networkConnectionString"
            connectionString="Data Source=LAPTOP-5U2HQLKL\SQLEXPRESS;Initial Catalog=bakeries_network;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings> -->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>